/*Base Style Section*/

body {
	color: white;
	 background: url("../images/piano-playing.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

img {
	border: 2px solid white;
}

/*Module Style Section*/

.details {
	font-size: 1.15em;
	letter-spacing: 1.5px;
	line-height: 1.5;
	width: 87.5%;
	margin-bottom: 50px;
}

.font {
	color: white;
	font-family: 'Kaushan Script', cursive;
	font-size: 1.3em;
	letter-spacing: 1.5px;
}

.fpattern {
	font-family: 'Courgette', cursive;
	border: 1px solid white;
	margin-top: 100px;
	background-color: rgba(0,0,0,0.75);
	padding:20px;
}

.info {
	font-size: 1.25em;
	letter-spacing: 1.5px;
}

.maker {
	font-size: 2em;
	letter-spacing: 1.5px;
}

.name {
	font-size: 1.5em;
	letter-spacing: 1.5px;
}

.paragraph {
	font-size: 1.3em;
	letter-spacing: 1.5px;
	width: 80%;
}

.quote {
	font-family: 'Parisienne', cursive;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	margin:0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}

.quote h1 {
	font-size: 2.5em;
	letter-spacing: 2.5px;
}

.quote h2 {
	font-size:1.5em;
	letter-spacing: 1.5px;
}

.source a{
	color: red;
	font-size: 1.5em;
	text-decoration: none;
}

.source a:hover {
	transition: 0.3s;
	color: yellow;

}

.sub {
	font-size: 1.3em;
	letter-spacing: 1.5px;
}

.title {
	font-size: 2.5em;
	letter-spacing: 1.5px;
}



/*Layout Style Section*/

#learn{
	position: absolute;	
	background-color: rgba(0,0,0,0.9);
	padding:10px;
	left: 1%;
	bottom: 0;
}

#madness{
	position: absolute;	
	background-color: rgba(0,0,0,0.9);
	padding:10px;
	left: 1%;
	top: 0;
}



#signup {
	position: absolute;
	padding: 10px;
	bottom: 3%;
	right: 1%;
	background-color: rgba(0,0,0,0.9);
	text-decoration: none;
	transition: 0.4s;
}

#signup:hover {
	background-color: #ffe5db;
	color: black;
}
