/*Base Style Section*/

body {
	color: white;
	 background: url("../images/piano-playing.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

/*Module Style Section*/

.curious {
	color: white;
	font-family: 'Kaushan Script', cursive;
	font-size: 1.15em;
	letter-spacing: 1.5px;
	position: absolute;	
	background-color: rgba(0,0,0,0.9);
	padding:10px;
	left: 1%;
	bottom: 0;
}

.fact {
	color: white;
	font-family: 'Kaushan Script', cursive;
	font-size: 1.15em;
	letter-spacing: 1.5px;
	position: absolute;	
	background-color: rgba(0,0,0,0.9);
	padding:10px;
	left: 1%;
	top: 0;
}

.quote {
	font-family: 'Parisienne', cursive;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	margin:0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}

.quote h1 {
	font-size: 2.5em;
	letter-spacing: 2.5px;
}

.quote h2 {
	font-size:1.5em;
	letter-spacing: 1.5px;
}

.start {
	color: white;
	font-family: 'Kaushan Script', cursive;
	font-size: 1.15em;
	letter-spacing: 1.5px;
	position: absolute;
	padding: 10px;
	bottom: 3%;
	right: 1%;
	background-color: rgba(0,0,0,0.9);
	text-decoration: none;
}

